@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.title {
  padding: 15px 15px;
  margin-bottom: 25px;
  font-size: 35px;
  font-family: "Arial Narrow", serif;
}


form {
  background: white;
  border-radius: 25px;
  border: 4px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px auto;
  max-width: 500px;
  padding: 30px 50px;
}

.btn{
  outline: 0 !important;
  border: 0;
  outline:none !important;
}
.notif{
  border-bottom: 2px solid #000;
}